In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
!ls output

dense121_50k_4767.csv	     sub_50000_3118.csv
ens_4_models_50000.csv	     sub_50000_4223.csv
ensemble1.csv		     sub_5000_2.csv
ensemble_50000_3_models.csv  sub_all_classes_0418.csv
sub_10000_6520.csv	     sub_all_classes_1128.csv
sub1.csv		     sub_dense169_50000_3637.csv
sub_20000_4968.csv	     sub_retrieval_1.csv
sub_20000_5598.csv	     sub_se_res101_50000_3525.csv
sub2_5000.csv		     sub_se_resnext50_32x4d_B_50000_4469.csv
sub2.csv		     sub_vec1.csv
sub3_1000.csv

In [46]:
df = pd.read_csv('output/ens_4_models_50000.csv')

In [20]:
df['score'] = df.landmarks.map(lambda x: 0. if pd.isna(x) else float(x.split(' ')[1]))

In [47]:
df.head()

                 id        landmarks
0  cb9998b8cdaf6235   64042 0.035033
1  30728cf6e50a6bc6   14317 0.113227
2  16afbc86b710337d   37768 0.027412
3  d29b2166cf522450  201509 0.015100
4  dd5c03b20c21cfba  161152 0.071214

In [41]:
df[df.score < 0.07].shape[0] / df.shape[0]

0.6208168016108341

In [29]:
df.loc[df['score'] < 0.018, 'landmarks'] = np.nan

In [45]:
df.head()

                 id        landmarks     score
0  cb9998b8cdaf6235              NaN  0.035033
1  30728cf6e50a6bc6   14317 0.113227  0.113227
2  16afbc86b710337d              NaN  0.027412
3  d29b2166cf522450              NaN  0.015100
4  dd5c03b20c21cfba  161152 0.071214  0.071214

In [31]:
df.to_csv('output/ens_4_models_50000_setnan_018.csv', index=False, columns=['id', 'landmarks'])

In [36]:
df.loc[df['score'] < 0.035, 'landmarks'] = np.nan

In [37]:
df.to_csv('output/ens_4_models_50000_setnan_035.csv', index=False, columns=['id', 'landmarks'])

In [42]:
df.loc[df['score'] < 0.07, 'landmarks'] = np.nan

In [43]:
df.to_csv('output/ens_4_models_50000_setnan_07.csv', index=False, columns=['id', 'landmarks'])

In [44]:
df.head()

                 id        landmarks     score
0  cb9998b8cdaf6235              NaN  0.035033
1  30728cf6e50a6bc6   14317 0.113227  0.113227
2  16afbc86b710337d              NaN  0.027412
3  d29b2166cf522450              NaN  0.015100
4  dd5c03b20c21cfba  161152 0.071214  0.071214