In [55]:
import sys
import os
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import glob
%matplotlib inline

In [28]:
sys.path.append('../recognition/')

In [56]:
print(sys.path)

['/home/core/v-zejlin/miniconda3/envs/chicm/lib/python36.zip', '/home/core/v-zejlin/miniconda3/envs/chicm/lib/python3.6', '/home/core/v-zejlin/miniconda3/envs/chicm/lib/python3.6/lib-dynload', '', '/home/core/.local/lib/python3.6/site-packages', '/home/core/v-zejlin/miniconda3/envs/chicm/lib/python3.6/site-packages', '/home/core/v-zejlin/miniconda3/envs/chicm/lib/python3.6/site-packages/IPython/extensions', '/home/core/.ipython', '../recognation', '../recognation/', '../recognition/']

In [53]:
import settings_retrieval

In [31]:
train = pd.read_csv('/mnt/chicm/data/retrieval/train.csv')
test = pd.read_csv('/mnt/chicm/data/retrieval/test.csv')
index = pd.read_csv("/mnt/chicm/data/retrieval/index.csv")
sub = pd.read_csv("/mnt/chicm/data/retrieval/retrieval_sample_submission.csv")

In [57]:
print(train.shape, test.shape, index.shape, sub.shape)

(1225029, 4) (117703, 2) (1098461, 2) (117703, 2)

In [58]:
train.nunique()

id             1225029
url            1211201
landmark_id      14952
downloaded           2
dtype: int64

In [6]:
index.head()

                 id                                                url
0  e08bbc99a449d6e6  http://lh3.ggpht.com/-0syNYGY8KGI/TM3Y0kKbgDI/...
1  d8adc613d77254d5  https://lh3.googleusercontent.com/-gvOm8lpizSQ...
2  bb4a99310d191a7a  http://lh5.ggpht.com/-2NdVC7qAtk4/SC9AW2SGWqI/...
3  be13e752a94e4bf2  http://lh3.ggpht.com/-FV8xeM7Xohk/RpTvuupcVQI/...
4  6af5a054b28468da  http://lh5.ggpht.com/-g3MdBD7f318/RzwDstaevTI/...

In [32]:
settings_retrieval.INDEX_IMG_DIR

'/mnt/chicm/data/retrieval/index_imgs_256'

In [33]:
dir(settings_retrieval)

['DATA_DIR',
 'INDEX_IMG_DIR',
 'MODEL_DIR',
 'TEST_IMG_DIR',
 'TRAIN_IMG_DIR',
 'VECTOR_DIR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'os']

In [10]:
index['downloaded'] = index.id.map(lambda x: os.path.exists(os.path.join(settings.INDEX_IMG_DIR, '{}.jpg'.format(x))))

In [13]:
index[index.downloaded==False].shape

(28889, 3)

In [14]:
index[index.downloaded==True].shape

(1069572, 3)

In [15]:
index.shape

(1098461, 3)

# Saving cleaned index file

In [16]:
index[index.downloaded==True].to_csv(os.path.join(settings.DATA_DIR, 'index_clean.csv'), columns=['id', 'url'], index=False)

# create cleaned train file

In [34]:
settings_retrieval.TRAIN_IMG_DIR

'/mnt/chicm/data/retrieval/train_imgs_256'

In [35]:
TRAIN_IMG_DIR='/mnt/chicm/data/retrieval/train_imgs'

In [36]:
train['downloaded'] = train.id.map(lambda x: os.path.exists(os.path.join(TRAIN_IMG_DIR, '{}.jpg'.format(x))))

In [37]:
train.head()

,id,url,landmark_id,downloaded
0,97c0a12e07ae8dd5,http://lh4.ggpht.com/-f8xYA5l4apw/RSziSQVaABI/...,6347,True
1,650c989dd3493748,https://lh5.googleusercontent.com/-PUnMrX7oOyA...,12519,True
2,05e63ca9b2cde1f4,http://mw2.google.com/mw-panoramio/photos/medi...,264,True
3,08672eddcb2b7c93,http://lh3.ggpht.com/-9fgSxDYwhHA/SMvGEoltKTI/...,13287,True
4,fc49cb32ef7f1e89,http://lh6.ggpht.com/-UGAXxvPbr98/S-jGZbyMIPI/...,4018,True

In [39]:
len(train[train.downloaded==True])

1192580

In [44]:
train_imgs = glob.glob(os.path.join(TRAIN_IMG_DIR,'*.jpg'))

In [45]:
len(train_imgs)

1192580

In [52]:
train[train.downloaded==True].to_csv(os.path.join(settings_retrieval.DATA_DIR, 'train_clean.csv'),
                                     columns=['id', 'url', 'landmark_id'], index=False)

In [46]:
train_imgs[:10]

['/mnt/chicm/data/retrieval/train_imgs/f86784bf4a77e123.jpg',
 '/mnt/chicm/data/retrieval/train_imgs/0a4cb8aab16d3347.jpg',
 '/mnt/chicm/data/retrieval/train_imgs/aec7b4bd59e2b663.jpg',
 '/mnt/chicm/data/retrieval/train_imgs/1e465d95ab9e8fa1.jpg',
 '/mnt/chicm/data/retrieval/train_imgs/34139526e1a18232.jpg',
 '/mnt/chicm/data/retrieval/train_imgs/686c85d04b6ac663.jpg',
 '/mnt/chicm/data/retrieval/train_imgs/04554ac8abd694ec.jpg',
 '/mnt/chicm/data/retrieval/train_imgs/c3fe81771ff9c3bd.jpg',
 '/mnt/chicm/data/retrieval/train_imgs/60235188dbbfa8d1.jpg',
 '/mnt/chicm/data/retrieval/train_imgs/dca5a2e802599229.jpg']

In [51]:
!file {train_imgs[0]}

/mnt/chicm/data/retrieval/train_imgs/f86784bf4a77e123.jpg: JPEG image data, JFIF standard 1.01, aspect ratio, density 1x1, segment length 16, baseline, precision 8, 500x375, frames 3

# create invert dict

In [59]:
train.head()

,id,url,landmark_id,downloaded
0,97c0a12e07ae8dd5,http://lh4.ggpht.com/-f8xYA5l4apw/RSziSQVaABI/...,6347,True
1,650c989dd3493748,https://lh5.googleusercontent.com/-PUnMrX7oOyA...,12519,True
2,05e63ca9b2cde1f4,http://mw2.google.com/mw-panoramio/photos/medi...,264,True
3,08672eddcb2b7c93,http://lh3.ggpht.com/-9fgSxDYwhHA/SMvGEoltKTI/...,13287,True
4,fc49cb32ef7f1e89,http://lh6.ggpht.com/-UGAXxvPbr98/S-jGZbyMIPI/...,4018,True

In [62]:
train.shape

(1225029, 4)

In [63]:
train[train.downloaded==True].shape

(1192580, 4)

In [65]:
train_clean = train[train.downloaded==True].copy()

In [66]:
train_clean.shape

(1192580, 4)

In [96]:
df_invert = train_clean.groupby('landmark_id')['id'].apply(' '.join).reset_index()

In [97]:
df_invert.shape

(14938, 2)

In [98]:
type(df_invert)

pandas.core.frame.DataFrame

In [99]:
df_invert.head()

  landmark_id                                                 id
0           0  e1b812def4966754 fd230da2ec15924c c304be9cdb5a...
1           1  d4cdaa5e9779612c e2e66e87d4350385 8ba2feb9b479...
2          10  e6cdf2e84ea356ca 866b46a203e67d1e 2c49507523a7...
3         100  a02a2ea7cb8a1a5c 3b2b667733a2bc01 42cc0f5f6901...
4        1000  451a46d11335928c 97dfe17e3609fe3e 0ce9fab0a916...

In [100]:
df_invert.landmark_id = pd.to_numeric(df_invert.landmark_id)

In [102]:
df_invert['num_imgs'] = df_invert.id.map(lambda x: len(x.split(' ')))

In [103]:
df_invert.sort_values(by=['landmark_id']).head()

      landmark_id                                                 id  num_imgs
0               0  e1b812def4966754 fd230da2ec15924c c304be9cdb5a...        69
1               1  d4cdaa5e9779612c e2e66e87d4350385 8ba2feb9b479...         3
6060            2  16457eeb52a833bc a97ca1efa3f90a74 3540cecb30d8...         6
7168            3  16d365f2f5b4fd51 9d6c816777e7d1f2 349c0a7a0056...       198
8278            4  59859408cc56a990 8067a354ff3c8195 c163d9a1f590...         8

In [104]:
df_invert = df_invert.sort_values(by=['landmark_id'])

In [105]:
df_invert.to_csv('/mnt/chicm/data/retrieval/train_clean_invert.csv', index=False)

In [106]:
df_invert.head()

      landmark_id                                                 id  num_imgs
0               0  e1b812def4966754 fd230da2ec15924c c304be9cdb5a...        69
1               1  d4cdaa5e9779612c e2e66e87d4350385 8ba2feb9b479...         3
6060            2  16457eeb52a833bc a97ca1efa3f90a74 3540cecb30d8...         6
7168            3  16d365f2f5b4fd51 9d6c816777e7d1f2 349c0a7a0056...       198
8278            4  59859408cc56a990 8067a354ff3c8195 c163d9a1f590...         8

In [108]:
d = pd.Series(df_invert.id.values, index=df_invert.landmark_id).to_dict()

In [111]:
len(d)

14938

In [86]:
tmp = train_clean[train_clean.landmark_id=='None']

In [87]:
tmp.shape

(0, 4)

In [88]:
type(train_clean.landmark_id)

pandas.core.series.Series

In [89]:
df_invert.landmark_id = pd.to_numeric(df_invert.landmark_id)
df_invert.head()

   landmark_id                                                 id
0            0  e1b812def4966754 fd230da2ec15924c c304be9cdb5a...
1            1  d4cdaa5e9779612c e2e66e87d4350385 8ba2feb9b479...
2           10  e6cdf2e84ea356ca 866b46a203e67d1e 2c49507523a7...
3          100  a02a2ea7cb8a1a5c 3b2b667733a2bc01 42cc0f5f6901...
4         1000  451a46d11335928c 97dfe17e3609fe3e 0ce9fab0a916...

In [90]:
df_invert = df_invert.reset_index()

In [91]:
df_invert.head()

   index  landmark_id                                                 id
0      0            0  e1b812def4966754 fd230da2ec15924c c304be9cdb5a...
1      1            1  d4cdaa5e9779612c e2e66e87d4350385 8ba2feb9b479...
2      2           10  e6cdf2e84ea356ca 866b46a203e67d1e 2c49507523a7...
3      3          100  a02a2ea7cb8a1a5c 3b2b667733a2bc01 42cc0f5f6901...
4      4         1000  451a46d11335928c 97dfe17e3609fe3e 0ce9fab0a916...

In [85]:
tmp.head()

                   id   url landmark_id  downloaded
130  fded971ace01c947  None        None       False
202  06498ccfc7b0d628  None        None       False
217  90f213260ea36306  None        None       False
425  22c16539b434bb30  None        None       False
575  16daff4d9354c65f  None        None       False